.arrowBack{
  background-color: rgb(95, 6, 12);
  box-shadow: 2px 2px 3px 1px black;
  margin-right: auto;
  margin-left: 10%;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;

  .arrowIcon{
    width: 20px;
    height: 20px;
    margin: auto;
  };
};

.arrowBack:hover{
  background-color: rgb(116, 10, 17);
};

.arrowForward{
  background-color: rgb(95, 6, 12);
  box-shadow: 2px 2px 3px 1px black;
  margin-left: auto;
  margin-right: 10%;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;

  .arrowIcon{
    width: 20px;
    height: 20px;
    margin: auto;
  };
};

.arrowForward:hover{
  background-color: rgb(116, 10, 17);
};
