.arrowBack{
  margin-right: auto;
  margin-left: 10%;

  .arrowIcon{
    width: 35px;
    height: 35px;
  };
};

.arrowForward{
  margin-left: auto;
  margin-right: 10%;

  .arrowIcon{
    width: 35px;
    height: 35px;
  };
};
