.menuHome{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: 20%;
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-style: normal;

    h1{
      color: rgb(96, 165, 251);
      font-weight: bold;
      font-size: 30px;
      padding-top: 20px;
    };
};