.socialList{
  border: 1px solid white;
  display: flex;
  border-radius: 5px;
  padding: 7px;
  color: white;
  margin-bottom: 35%;

    li{
      padding: 3px;
      border-radius: 5px;
    };

    svg{
      text-shadow: 13px 12px 12px black;
      padding: 2px;
    };

    svg:hover{
      transition: 0.4s;
      background-color: white;
      color: black;
      border-radius: 3px;
    };
};

.socialListFoot{
  display: flex;

    li{
      border-radius: 5px;
      padding: 3px;
    };

    svg{
      box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.61);
      width: 35px;
      height: 35px;
      padding: 5px;
    };

    svg:hover{
      transition: 0.2s;
      box-shadow: 2px 1px 3px 1px black;
      background-color: rgb(88, 6, 6);
    };
};